@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root:root {
    --bs-body-font-family: 'Platform';
    --main-red: #FF0000;
    --sub-red: #7f0000;
    --main-grey: #B3B3B3;
    --sub-grey: #4f4f4f;
    --main-black: #000000;
}

#logo {
    margin-top: -0.25rem;
}

.title {
    color: var(--main-red) !important;
    font-weight: bold !important;
}

.primary-red, .interactive {
    text-decoration: none;
    color: var(--main-red) !important;
    accent-color: var(--main-red) !important;
}

.secondary-red, .interactive:hover, .interactive.active, .interactive:focus {
    color: var(--sub-red) !important;
    accent-color: var(--sub-red) !important;
}

img.interactive {
    filter: invert(13%) sepia(94%) saturate(6728%) hue-rotate(4deg) brightness(112%) contrast(117%);
}

img.interactive:hover, img.interactive.active, img.interactive:focus {
    filter: invert(15%) sepia(28%) saturate(5245%) hue-rotate(343deg) brightness(98%) contrast(130%);
}

.cancel_interactive {
    text-decoration: none;
    color: var(--main-grey) !important;
}

.cancel_interactive:hover, .cancel_interactive.active {
    color: var(--main-black) !important;
}

input.underlined, select.underlined, textarea.underlined {
    border: none !important;
    border-bottom: 1px var(--main-grey) solid !important;
}

.red-underlined {
    border: none !important;
    border-bottom: 1px var(--main-red) solid !important;
}

.hidden {
    display: none !important;
}

.error-toast {
    border-color: var(--main-red);
}

.form_label {
    color: var(--sub-grey) !important;
}

.defaultInputHeight {
    height: 24px;
}

.smallInput {
    width: 300px
}

.mediumInput {
    width: 300px;
}

.largeInput {
    width: 425px;
}

.dashed-border {
    border: 1px dashed var(--main-grey);
    border-radius: 3px;
}

.datatable-middle {
    height: 52px;
}

h1 {
    font-size: 2em;
}
