@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
    --bs-body-font-family: 'Platform';
    --main-red: #FF0000;
    --sub-red: #7f0000;
    --main-grey: #B3B3B3;
    --main-black: #000000;
}

#logo {
    margin-top: -0.25rem;
}

.title {
    color: var(--main-red) !important;
    font-weight: bold !important;
}

.interactive {
    color: var(--main-red) !important;
}

.interactive:hover {
    color: var(--sub-red) !important;
}

.underlined {
    border-color: lightgray;
    border-bottom: 1px solid;
}
