#top-bar-container {
    width: 86%;
    max-width: 1900px;
}

.mini-icon {
    width: 20px;
    height: 20px;
}

.mini-icon:not(.monochrome) {
    opacity: 60%;
    filter: grayscale(100%);
}

.mini-icon:not(.monochrome).active {
    opacity: 100%;
    filter: none;
}

.mini-icon.monochrome {
    filter: brightness(0) saturate(100%) invert(31%) sepia(19%) saturate(7%) hue-rotate(336deg) brightness(89%) contrast(89%);
}

.mini-icon.monochrome.active {
    filter: brightness(0) saturate(100%) invert(9%) sepia(60%) saturate(6050%) hue-rotate(7deg) brightness(95%) contrast(118%);
}

.mini-icon.owned {
    opacity: 100%;
    filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(2103%) hue-rotate(341deg) brightness(92%) contrast(98%);
}

.arsenal-slot-name {
    overflow-wrap: break-word;
    hyphens: auto;
}

.arsenal-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2rem;
}
